.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.DS_Store
.idea/
.vscode/
node_modules/
*.log

# Editor temp files
*~
*.swp

# Ignore build artifacts
dist/
build/

# Jekyll / Ruby
_site/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/
Gemfile.lock

# Ruby dev / bundler
.bundle/
vendor/bundle/

# Other caches
.cache/
.sass-cache/

# Mac/Windows
Thumbs.db
