/* ========================================
   Header Styles
   ======================================== */

header {
    border-bottom: var(--border-width-medium) solid var(--color-primary);
    padding-bottom: var(--spacing-large);
    margin-bottom: var(--spacing-xxlarge);
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-size: 3.5em;
}

header .header-content .subtitle {
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    margin-left: var(--spacing-medium);
    font-size: 1.2em;
    font-weight: normal;
}

/* Site title styling  */
header h1 a {
    color: inherit;
    text-decoration: none;
    border-bottom: none;
}

header h1 a:hover {
    color: inherit;
    text-decoration: none;
    background: none;
}